.App{
   background-color: white;
   color: white;
   text-align: center;
   display: column;
   justify-content: space-between;
   align-items: flex-start;
   font-family: get_schwifty;
   background-image: url(C:\Users\Usuario\OneDrive\Escritorio\rick_and_morty\src\background_img.png);
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;
   background-size: cover;
   background-size: 1920px;
}

@font-face{
   font-family: get_schwifty;
   src: url(C:\Users\Usuario\OneDrive\Escritorio\rick_and_morty\public\get_schwifty.ttf);
}

